| Model Name | BLINK | HallusionBench | MMBench_DEV_EN | MME | MMStar | POPE | RealWorldQA | Mean |
|  --- |  --- |  --- |  --- |  --- |  --- |  --- |  --- |  --- | 
| InternVL2_5-1B | 0.42 | 0.60 | 0.73 | 0.76 | 0.50 | 0.89 | 0.58 | 0.64 |
| InternVL2_5-2B | 0.44 | 0.62 | 0.76 | 0.80 | 0.54 | **0.90** | 0.61 | 0.67 |
| InternVL2_5-4B | 0.51 | 0.65 | 0.83 | 0.84 | 0.59 | 0.89 | 0.65 | 0.71 |
| InternVL2_5-8B | 0.55 | 0.67 | **0.84** | 0.84 | **0.63** | 0.89 | 0.69 | **0.73** |
| MiniCPM-V-2_6 | 0.55 | 0.61 | 0.82 | 0.84 | 0.57 | 0.83 | 0.65 | 0.70 |
| Llama-3-VILA1.5-8b | 0.42 | 0.52 | 0.69 | 0.78 | 0.42 | 0.83 | 0.47 | 0.59 |
| llava_next_llama3 | 0.41 | 0.39 | 0.73 | 0.77 | 0.43 | 0.87 | 0.58 | 0.60 |
| Phi-3.5-Vision | **0.58** | 0.55 | 0.75 | 0.73 | 0.47 | 0.83 | 0.54 | 0.64 |
| Qwen2-VL-2B-Instruct | 0.39 | 0.61 | 0.72 | 0.74 | 0.46 | 0.88 | 0.63 | 0.63 |
| Qwen2-VL-7B-Instruct | 0.53 | 0.68 | 0.82 | 0.84 | 0.60 | 0.86 | 0.70 | 0.72 |
| Qwen2.5-VL-3B | 0.49 | 0.66 | 0.80 | 0.78 | 0.54 | 0.86 | 0.66 | 0.69 |
| Qwen2.5-VL-7B | 0.55 | **0.72** | 0.83 | **0.85** | 0.62 | 0.86 | 0.68 | 0.73 |
| Janus-Pro-7B | 0.37 | 0.60 | 0.66 | 0.76 | 0.46 | 0.79 | 0.42 | 0.58 |
| VideoLLaMA3-2B-Image | 0.44 | 0.59 | 0.78 | 0.67 | 0.53 | 0.88 | 0.64 | 0.65 |
| VideoLLaMA3-7B-Image | 0.58 | 0.64 | 0.82 | 0.72 | 0.61 | 0.86 | **0.71** | 0.71 |


![Mean score vs parameters](Mean_score_vs_params.png)

| Model Name | HICO |
|  --- |  --- | 
| InternVL2_5-1B | 0.39 |
| InternVL2_5-2B | 0.53 |
| InternVL2_5-4B | 0.54 |
| InternVL2_5-8B | 0.64 |
| Phi-3.5-Vision | 0.43 |
| Qwen2-VL-2B-Instruct | 0.57 |
| Qwen2-VL-7B-Instruct | 0.58 |
| Qwen2.5-VL-3B | 0.58 |
| Qwen2.5-VL-7B | **0.69** |
| Janus-Pro-7B | 0.28 |
| VideoLLaMA3-2B-Image | 0.49 |
| VideoLLaMA3-7B-Image | 0.61 |

![HICO score vs parameters](HICO_score_vs_params.png)

| Model Name | Virat_MCQ |
|  --- |  --- | 
| Qwen2.5-VL-3B | **0.18** |
| Qwen2.5-VL-7B | 0.16 |
| VideoLLaMA3-2B | 0.04 |
| VideoLLaMA3-7B | 0.02 |


![Virat_MCQ score vs parameters](Virat_MCQ_score_vs_params.png)
